$top-menu: #B2D8FF;
$url-active: #67cde9;
$url: #6ee2ff;

body{
  .inventory{
    background: $url;
    .container{
      .nav{
        a{
          color: rgb(255, 255, 255);
        }
        a:hover{
          color: #000000;
        }
      }
      a{
        span{
          color: rgb(255, 255, 255);
        }
      }
      a:hover{
        span:hover{
          color: #000000;
        }
      }
      span{
        color: rgb(255, 255, 255);
      }

    }
  }
  .navbar-default .navbar-nav>.active>a {
    color: $url-active;
  }
  .navbar-default .navbar-nav>.active>a:hover {
    color: $url-active;
  }
  .navbar-default .navbar-nav>.active>a:focus {
    color: $url-active;
  }
  .teaser{
    a:not(.btn) {
      color: $url-active;
    }
    a:hover, a:focus{
      color: $url-active;
    }
    a{
      color: $url;
    }
  }
  a:hover, a:focus{
    color: $url-active;
  }
  a{
    color: $url;
  }
  .ia-item a:not(.btn):hover, .ia-item a:not(.btn):focus:hover{
    color: $url-active;
  }
  .box__caption{
    border-bottom: 3px solid $url-active;
  }
  .landing .box__caption::after{
    background: $url-active;
  }
  #block_landing3{
    background: $top-menu;
  }
  .footer-blocks .box__caption{
    color: $url;
  }
  .footer-blocks .box__caption::after{
    background: $url;
  }
  .teaser h1::before{
    background: $url;
  }
  .box-landing-5 .addr .fa{
    background: $url;
  }
}