body .inventory {
  background: #6ee2ff; }
  body .inventory .container .nav a {
    color: white; }
  body .inventory .container .nav a:hover {
    color: #000000; }
  body .inventory .container a span {
    color: white; }
  body .inventory .container a:hover span:hover {
    color: #000000; }
  body .inventory .container span {
    color: white; }
body .navbar-default .navbar-nav > .active > a {
  color: #67cde9; }
body .navbar-default .navbar-nav > .active > a:hover {
  color: #67cde9; }
body .navbar-default .navbar-nav > .active > a:focus {
  color: #67cde9; }
body .teaser a:not(.btn) {
  color: #67cde9; }
body .teaser a:hover, body .teaser a:focus {
  color: #67cde9; }
body .teaser a {
  color: #6ee2ff; }
body a:hover, body a:focus {
  color: #67cde9; }
body a {
  color: #6ee2ff; }
body .ia-item a:not(.btn):hover, body .ia-item a:not(.btn):focus:hover {
  color: #67cde9; }
body .box__caption {
  border-bottom: 3px solid #67cde9; }
body .landing .box__caption::after {
  background: #67cde9; }
body #block_landing3 {
  background: #b2d8ff; }
body .footer-blocks .box__caption {
  color: #6ee2ff; }
body .footer-blocks .box__caption::after {
  background: #6ee2ff; }
body .teaser h1::before {
  background: #6ee2ff; }
body .box-landing-5 .addr .fa {
  background: #6ee2ff; }
